[alias] tree = log --graph --decorate --pretty=oneline --abbrev-commit
[user]
	name = <%= @author %>
	email = <%= @authorEmail %>
[color]
	ui = true
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[pager]
	status = yes
[branch]
	autosetuprebase = remote
[push]
	default = matching